.NotFoundPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--size-64);
  padding-inline: var(--size-24);
  text-align: center;
}

.NotFoundPage-heading {
  color: var(--color-text-muted);
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
  margin-block-end: var(--size-16);
}

.NotFoundPage-message {
  color: var(--color-text-muted);
  font-size: var(--text-lg);
}

